.faqSection {
  background: url("/images/pattern-ecommerce.png") no-repeat left top fixed, rgb(24, 27, 34);
  min-height: 100vh;
  padding: 7vh 0;

  h2 {
    color: white;
    font-size: 75px;
    margin: 3vh 0 10vh;
  }
}

.icon {
  img {
    height: 100px;
  }
}