@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.sectionMain {
  padding-bottom: 120px;
  min-height: 100vh;

  iframe {
    height: 854 !important;
    width: 480 !important;
  }

  svg:not(:first-of-type) {
    display: none;
  }

  svg {
    width: 60px;
    height: 60px;
  }
}

.topHeading {
  @include media-breakpoint-up(xl) {
    font-size: 60px;
  }

  font-size: 50px;
  font-weight: 500;;
  margin-top: 70px;
}

.subHeading {
  font-size: 25px;
  margin-top: 20px; 
}

.sectionMainScreen {
  position: relative;
  background-color: rgb(61, 61, 61);
  border-radius: 15px;
  padding: 25px 20px;
  margin: 8vh 0;

  @include media-breakpoint-up(xl) {
    margin: 8vh -20vh;
  }

  img {
    width: 100%;
  }
}

.iframePopup {
  > div {
    background-color: rgba(0, 0, 0, .7) !important;
    transition: all .7s linear;
  }
}

.videoPlayButton {
  cursor: pointer;
  position: absolute;
  z-index: 10;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  border-radius: 50%;
  padding: 18px 20px 18px 28px;

  &:hover {
    &::after {
      background-color: red;;
    }

    path {
      fill: white;
    }
  }

  svg {
    z-index: 2;
    position: relative;
    top: -14px;
    left: -23px;
    height: 75px;
    width: 75px;
    
    path {
      fill: black;
    }
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: rgba(255,255,255,1);
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: rgba(255,255,255,0.7);
    border-radius: 50%;
    transition: all 200ms;
  }
}

@-webkit-keyframes pulse-border {
	0% {
		-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		opacity: 0;
	}
}

@keyframes pulse-border {
	0% {
		-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		opacity: 0;
	}
}