.infoBox {
  color: white;
  border-radius: 15px;
  margin-bottom: 40px;
  padding: 20px 30px;
  width: 45%;

  img {
    height: 100px;
    width: 150px; 
  }

  h5 {
    font-size: 30px;
  }
}

.infoBoxStyle1 {
  background: linear-gradient(to left top,  rgba(112, 76, 208) 0%, rgba(208, 130, 252) 100%);
}

.infoBoxStyle2 {
  background: linear-gradient(to left top, rgba(208, 130, 252) 0%, rgba(112, 76, 208) 100%);
}

.description {
  font-size: 30px;
  margin-top: 50px;
}