@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.infoBox {
  @include media-breakpoint-up(xl) {
    width: 45%;
  }

  color: white;
  border-radius: 15px;
  margin-bottom: 40px;
  padding: 20px 30px;
  min-height: 300px;
  width: 100%;

  img {
    width: 100px; 
  }

  h5 {
    font-size: 25px;
  }
}

.infoBoxStyle1 {
  background: linear-gradient(to left top,  rgba(112, 76, 208) 0%, rgba(208, 130, 252) 100%);
}

.infoBoxStyle2 {
  background: linear-gradient(to left top, rgba(208, 130, 252) 0%, rgba(112, 76, 208) 100%);
}

.description {
  font-size: 25px;
  margin-top: 50px;
}