@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.whatWeProvideSection {
  position: relative;
  background-color: black;
  min-height: 100vh;
}

.layerRight {
  background: url("/images/layer-right.png") no-repeat right top fixed;
  background-size: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  z-index: 2;
}

.layerCenter {
  position: relative;
  padding: 80px 0;
  z-index: 5;

  h2 {
    @include media-breakpoint-down(lg) {
      padding: 0 15px;
    }

    color: white;
    font-size: 50px;
    margin-bottom: 90px;
  }
}

.infoBoxes {
  @include media-breakpoint-down(md) {
    padding: 0 15px;
  }

  @include media-breakpoint-up(xl) {
    width: 70%;
  }
}