.header {
  a {
    font-weight: 500;
    text-transform: capitalize;

    &:hover {
      color: darken(rgb(62, 62, 62), 15%);
      text-decoration: none;
    }
  }
}

.navItems {
  font-size: 30px;
  max-width: 600px;
  width: 100%;
}

.siteLogo,
.dashboardButton {
  display: inline-block;
}

.siteLogo {
  img {
    margin-bottom: -16px;
    margin-right: 15px;
    width: 100px;
  }
  
  font-family: BigNoodleTitling;

  h1 {
    line-height: .75;
    font-size: 45px;
  }
}

a.dashboardButton {
  background-color: rgb(62, 62, 62);
  border-radius: 15px;
  color: white;
  font-size: 35px;
  padding: 0px 25px;

  &:hover {
    background-color: darken(rgb(62, 62, 62), 15%);
    color: white;
  }
}
