.ourSuccess {
  background-color: rgb(24, 27, 34);
  padding: 2vh 0vh;
  min-height: 100vh;

  h2 {
    color: white;
    font-size: 75px;
    margin-bottom: 30px;
  }
}

.image {
  border-radius: 15px;
  padding: 15px 10px;
  background-color: white;
  padding-left: -5vw;
  padding-right: -5vw;

  > div {
    background: url("/images/purple-background.png") no-repeat center;
    background-size: cover;
  }

  img {
    width: 100%;
  }
}